/* COLORS
#d1ecf1
#0c5460
#bee5eb
#005ea6
*/

body {
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.nav {
  background-color: #005ea6;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-column-gap: 1rem;
  padding: .5rem;
  padding-left: 2rem;
}

.menu_option {
  text-decoration: none;
  font-size: 1.5em;
  color: white;  
  cursor: pointer;
}

.home_container {
  padding: 5rem;
  font-size: 1.7em;
}

.exercise_title {
  font-size: 1.8em;
}

.exercise_container {
  padding: 1.7rem;
}

.fibonacci_list {
  width: 40%;
  margin-left: 30%;
  padding: 1rem;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-column-gap: 1rem;
}

.number {
  width: auto;
}

.verify_container {
  border-radius: 1rem;
  background-color: #005ea6;
  width: 40%;
  margin-left: 30%;
  color: white;
  padding-bottom: 1rem;
}

.input_container {
  padding-left: 7rem;
  padding-right: 7rem;
  display: grid;
  grid-template-columns: 78% 20%;
}

.verify_container p {
  font-size: 1.5em;
}

.input_container input[type=number], button{
  font-size: 1.1em;
}

.message_container {
  margin: 1rem;
  background-color: #d1ecf1; 
  color: #0c5460;
  border: 1px solid #bee5eb;
  width: 40%;
  margin-left: 30%;
  border-radius: 1rem;
}

.message {
  font-size: 1.6em;
  font-weight: 500; 
}

.hide {
  visibility: hidden;
}